.list-group{
    margin-bottom: 1rem;
}

.btn{
    margin-right: 1rem;
}

.dlt-link{
    color: #ff003b;
    text-decoration: underline;
    margin-right: 1rem;
}

.dlt-link:hover{
    color: #007bff;
}